<div class="container" style="width:40%">
    <form>
        <div class="form-group">
            <label class="form-label">Email Id</label>
            <input type="email"  class="form-control" required />
        </div>
        <div class="form-group">
                <label class="form-label">PassWord</label>
                <input type="password" class="form-control" required name="password"/>
            </div>

            <button type="submit" class="btn btn-block bg-secondary">Login</button><br>
            <br>     
                <h5 class="text-center"><a href="#">New User? Create New Account</a></h5>
            
        

    </form>
</div>